body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }  
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/background.png);
    margin: 0 auto 20px;
    width: 1000px;
}
.container {  
    width: 1000px;  
    margin-left: 100px;
    margin-right: 100px;
}

#main {
    background-color: #ede8e8;
}
#main .container {
    margin-top:10px;
    background: url(images/header.jpg) no-repeat;
}

#logo {
    background: url(images/logo.png) no-repeat;  
    height: 84px;  
    width: 235px;
    float: left;
}

#logo h1 {  
    text-indent: -9999px;  
}  

#header {  
    padding-top: 45px;  
}

#tagline {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    width: 400px;
}
#tagline h3 {font-size: 30px; color: #e4dfdf; }

ul#menu {  
    list-style: none;
    padding-top: 65px;
    padding-bottom: 50px;
}  

ul#menu li a {  
    font-size: 30px;  
    color: #ffffff;  
    text-decoration: none;  
}

ul#menu li {  
    float: left;
    padding-left: 30px;
    padding-right: 75px;
    width: 50px;
}

#content h2 {  
    font-size: 36px;  
    color: #012c3c;
    padding-top: 25px;
}

#content h3 {  
    font-size: 24px;  
    color: #444444;
    padding-top: 20px;
    padding-bottom: 10px;
}  

#content h4 {  
    font-size: 18px;  
    color: #373737;  
    font-weight: normal;
}  
 
#content p {  
    font-size: 14px;  
    color: #595858;
    padding-top: 20px;
}  

#content small {  
    font-size: 12px;  
    color: #373737;  
}  

#content a {  
    color: #0f6c8d;  
    font-weight: bold;  
    text-decoration: none;  
}

#news {  
    padding-top: 10px;  
}  

#news h3 {  
    padding-bottom: 10px;  
}  

#news p {  
    padding-top: 10px;  
    padding-bottom: 14px;  
}

#content {  
    width: 510px;  
    float: left;  
}  
  
#sidebar {  
    float: left;
    margin-left: 55px;
    margin-top: 35px;
    background: #d4d6d3;
    border: 1px solid #BEBDBD;
    padding: 15px 15px 30px 15px;
    width: 203px;
}

#sidebar h3 {  
    font-size: 24px;  
    color: #044055;  
    font-weight: normal;
    padding-bottom: 20px;
    padding-left: 15px;
}  

#sidebar ul li a {  
    font-size: 14px;  
    color: #393838;
}

ul#subscribe li {  
    padding-bottom: 5px;
    padding-left: 35px;
}  

ul#subscribe li a {  
    font-size: 16px;  
}

#sidebar ul {  
    list-style: none;
    padding-bottom: 25px;
}  

li#rss {  
    background: url(images/rss_icon.png) no-repeat;  
}  

li#email {  
    background: url(images/email_icon.png) no-repeat;  
}  

li#twitter {  
    background: url(images/twitter_icon.png) no-repeat;  
}

a.button {  
    color: #393838;  
    text-decoration: none;  
    background: #ede8e8;
    margin-left: 45px;
    padding: 13px 23px;
    border: 2px solid #595858;
}

#footer {
    padding-left: 300px;
    background-color: #ede8e8;
    padding-top: 5px;  
    padding-bottom:10px;  
    margin-top: 5px;  
    color: #ede8e8;
    background-color: #303030;
}  